@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}